*{
    margin: 0;
    padding: 0;
}
.clear::after{
    content: ' ';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
/* 导航栏 */
.header{
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
}
.nav{
    width: 1240px;
    height: 80px;
    margin: 0 auto;
    display: flex;
}
.logo{
    width: 220px;
    height: 80px;
    display: flex;
}
.logo>a>img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-top: 20px;
}
.logo>section{
    margin-left: 10px;
    font-size: 25px;
    line-height: 80px;
}
.logo>section>a{
    color: #223034;
}
.nav-middle{
    width: 695px;
    height: 80px;
    display: flex;
}
.nav-middle>section{
    width: 100px;
    text-align: center;
    line-height: 80px;
    font-size: 15px;
}
.nav-middle>section>a{
    color: #48494D;
}
.nav-middle>section>a:hover{
    color: #00BBD9;
}
.nav-right{
    width: 290px;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.icon-top{
    width: 80px;
    display: flex;
    line-height: 80px;
    position: relative;
}
.icon-top>section{
    margin: 0 15px;
}
.icon-top>section>a{
    color: #E5E5E5;
}
.icon-top>a{
    color: #252629;
    position: relative;
}
.login-register{
    display: flex;
    line-height: 80px;
}
.login-register>section{
    width: 50px;
    text-align: center;
}
.login-register>section>a{
    color: #48494D;
}
.login-register>p{
    color: #E5E5E5;
}
.login-register>section>a:hover{
    color: #00BBD9;
}
/* 内容 */
.content{
    width: 1903px;
    height: 3880px;
    background-color: #f0eded;
}
.kuang{
    width: 1195px;
    height: 4000px;
    margin: 0 auto;
}
 .zhong{
    width: 750px;
    height: 450px;
    background-color: white;
    margin-top: 20px;
    float: left;
}
.tupian>a>img{
    width: 710px;
    height: 284px;
    margin: 15px 20px;
}
.baipiao{
    width: 710px;
    height: 50px;
    margin-top: -20px;
}
.baipiao>h2>a{
    color: #48494d;
    font-size: 20px;
    margin: 10px 20px;
    float: left;
}
.zhong>h2>a:hover{
    color: rgb(27, 80, 179);
}
.text{
    margin: 10px 20px;
    font-size: 13px;
    color: #525252;
}
.xiaotubiao{
    width: 750px;
    height: 40px;
    margin: 20px;
}
.xiaotubiao>img{
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    margin-bottom: -6px ;
}
.xiaotubiao>span>a{
    margin: 0 5px;
    font-size: 13px;
    color: #748594;
    margin-top: 15px;
}
.xiaotubiao>span{
    color: #748594;
    font-size: 9px;
}
.xiaotubiao>span>a{
    font-size: 9px;
}
.right-content{
    width: 360px;
    float: left;
    position: fixed;
    top: 100px;
    right: 400px;
}
.you{
    width: 360px;
    height: 198px;
    background-color: white;
    margin: 20px 15px 25px;
    float: left;
}
.wenzi>span{
    font-size: 24px;
    color: #00A8C0;
}
.wenzi{
    width: 310px;
    margin: 20px auto;
}
.wenzi>section{
    font-size: 10px;
}
.youxia{
    width: 360px;
    height: 280px;
    background-color: white;
    margin: 0 15px;
    float: left;
}
.shurukuang{
    width: 310px;
    height: 220px;
    margin: 20px auto;
}
.guanzhuwo{
    width: 310px;
    height: 50px;
}
.hengxie{
    width: 60px;
    height: 15px;
    border-top: solid 2px black;
}
.hengxie:hover{
    width: 310px;
    border-top: solid 2px black;
}
.weibo{
    width: 310px;
    border: solid 1px #EC3D51;
    border-radius: 2px;
}
.weibo>span{
    margin-left: 10px;
    color: #EC3D51;
}
.weibo>span>a{
    color: #525252;
    font-size: 13px;
    line-height: 35px;
    margin-left: 10px;
}
.xlwb{
    width: 80px;
    height: 35px;
    background-color: #EC3D51;
    float: right;
    text-align: center;
    line-height: 35px;
}
.xlwb>h6{
    color: white;
}
.xlwb:hover{
    width: 100px;
    background-color: #EC3D51;
}
.youxiang{
    width: 310px;
    border: solid 1px #2AB39A;
    border-radius: 2px;
}
.youxiang>span{
    margin-left: 10px;
    color: #2AB39A;
}
.youxiang>span>a{
    color: #525252;
    font-size: 10px;
    line-height: 35px;
    margin-left: 10px;
}
.yx{
    width: 80px;
    height: 35px;
    background-color: #2AB39A;
    float: right;
    text-align: center;
    line-height: 35px;
}
.yx>h6{
    color: white;
}
.yx:hover{
    width: 100px;
    background-color: #2AB39A;
}

.weixinggongzhonghao{
    width: 310px;
    border: solid 1px #199872;
    border-radius: 2px;
}
.weixinggongzhonghao::after{
    width: 80px;
    background-color: #199872;
    content: xi;
}
.weixinggongzhonghao>span{
    margin-left: 10px;
    color: #199872;
}
.weixinggongzhonghao>span>a{
    color: #525252;
    font-size: 10px;
    line-height: 35px;
    margin-left: 10px;
}
.wxgzh{
    width: 80px;
    height: 35px;
    background-color: #199872;
    float: right;
    text-align: center;
    line-height: 35px;
}
.wxgzh>h6{
    color: white;
}
.wxgzh:hover{
    width: 100px;
    background-color: #199872;
}
.turnpages{
    width: 750px;
    background-color: #f0eded;
    margin-top: 40px;
    float: left;
    text-align: center;
}
.fy{
    width: 240px;
    margin: 20px auto;
}

.yi{
    width: 45px;
    float: left;
    margin: 0 10px;
    border-radius: 9% ;
    background-color: #1f1f1f;
    line-height: 45px;
}
.fy>span{
    font-size: 15px;
    color: white;
}

.er{
    width: 45px;
    float: left;
    margin: 0 10px;
    border-radius: 9% ;
    line-height: 45px;
    background-color: white;
}
.fy>a{
    font-size: 15px;
    color: #666666;
}
.er:hover{
    background-color: #1f1f1f;
    color: white;
}

.xiaye{
    width: 80px;
    float: left;
    margin-left: 10px;
    border-radius: 9% ;
    line-height: 45px;
    background-color: white;
}
.xiaye:hover{
    background-color: #1f1f1f;
    color: white;
}
.bottom{
    width: 1903;
    height: 120px;
    background-color: #282828;
}
.bottom-k{
    width: 1205px;
    /* float: right; */
    margin: 0 auto;
}
.banquan{
    width: 350px;
    line-height: 35px;
    float: left;
    margin-left: 15px;
    margin-top: 25px;
}
.banquan-zuo{
    color: #91969A;
}
.banquan-you{
    color: white;
}
.banquan-zuoxia{
    color: #91969A;
}
.banquan-youxia>a{
    color: white;
}
.jiantou-k{
    width: 90px;
    float: right;
    margin-right: 50px;
    position: relative;
}
.jiantou{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    background-color: #282828;
    position: fixed;
    bottom: 40px;
    right: 80px;
}
.icon-xiangshangjiantou{
    font-size: 30px !important;
    color: white;
}
.dibu-tubiao{
    width: 300px;
    float: right;
    margin-right: 40px;
}
.dibu-weibo{
    width: 40px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 40px;
    margin: 25px 10px;
    background-color: #343A40;
    color: #C5C5C5;
}
.dibu-weibo:hover{
    background-color: #EC3D51;
}
.dibu-youxiang{
    width: 40px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 40px;
    margin: 25px 10px;
    background-color: #343A40;
    color: #C5C5C5;
}
.dibu-youxiang:hover{
    background-color: #EC3D51;
}
.dibu-weixing{
    width: 40px;
    float: left;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 25px 10px;
    background-color: #343A40;
    color: #C5C5C5;
}
.dibu-weixing:hover{
    background-color: #2AB39A;
}

